#dock-container {
     font: Helvetica, Arial, sans-serif; 
     font-size: 12px;
}
#dock-container li {
     float: left;
     list-style-type: none;
     text-align: center;
}
#dock-container a {
     color: #ccc;
     text-decoration: none;
}
#dock-container img {
     border: 0;
     width: 75px;
}
#dock-container p {
     background: #000; 
     border-radius: 8px; 
     -moz-border-radius: 8px; 
     margin: 0;
     position: relative;
     padding: 2px 4px;
     z-index: 100;
}
#dock-container div {
     background: #000;
     width: 10px;
     height: 10px;
     margin: 0 auto;
     position: relative;
     bottom: 20px;
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     -webkit-transform: rotate(45deg); 
}
#dock-container img, #dock-container p {
     -moz-transition: all .4s ease-in-out; 
     -o-transition: all .4s ease-in-out; 
     -webkit-transition: all .4s ease-in-out;
}
#dock-container p, #dock-container div {
     -moz-transition: opacity .1s ease-in-out; 
     -o-transition: opacity .1s ease-in-out; 
     -webkit-transition: opacity .1s ease-in-out;
}
#dock-container a:hover > img {
     -moz-transform: scale(1.4); 
     -o-transform: scale(1.4);
     -webkit-transform: scale(1.4);
}
#dock-container p, #dock-container div {
     opacity: 0;
}
#dock-container a:hover > div, #dock-container a:hover > p {
     opacity: 1;
}
